#root {
    min-width: 100vw;
}

#block-description {
	color: black;
	font-size: 12px;
}

#title {
    font-size: 2em;
}

#description {
    font-size: 1em;
}

.tile:hover {
	stroke: AliceBlue !important;
	stroke-width: 5px;
}

.animated {
	/*animation duration is set random in JS file*/
	animation-name: fadein;
}
/*tile class is listed seperately from "animated" to pass the test requirement of " class="tile" "*/
.tile {
	animation-name: fadein;
}

#legend {
	animation-name: fadein;
	animation-duration: 1s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 100;
	}
}
